{% extends 'base.html' %}
{% load static %}

{% block head_title %}
Register - Easy Shop
{% endblock %}

{% block extra_head %}
<style>

input[type=text],input[type=password],input[type=email]{
  width: 100%;
  border: 1px solid #ccc;
  box-sizing: border-box;
  margin-top: 5px;
  padding: 14px;
  border-radius: 5px;
  margin-bottom: 10px;
}


.form-div {
  border-radius: 5px;
  background-color: none;
  padding: 20px;
}

input[type=submit] {
  padding: 13px 17px;
  background-color: #73A5C6;
  border: none;
  cursor: pointer;
  border-radius: 3px;
  text-align: center;
}


</style>
{% endblock %}

{% block heading %}
Register - Easy Shop
{% endblock %}



{% block content %}

<br><br><br><br><br>

<div style="margin-left: 300px; margin-right: 300px;">
    <h3>Sign Up To Easy Shop</h3>
    <h3 style="color:red">{{ error }}</h3>

    <div class="form-div">
      <form action="" method="POST">
        {% csrf_token %}

        <label>First Name</label>
        <input type="text" id="first_name" name="first_name" placeholder="First Name...">

        <label>Last Name</label>
        <input type="text" id="last_name" name="last_name" placeholder="Last Name...">

        <label>Username</label>
        <input type="text" id="username" name="username" placeholder="Username...">

        <label>Email Address</label>
        <input type="email" id="email" name="email" placeholder="Email Address...">
    
        <label>Password</label>
        <input type="password" id="password" name="password" placeholder="Password...">

        <label>Repeat Password</label>
        <input type="password" id="repeat_password" name="repeat_password" placeholder="Repeat Password...">
    
        <br><br><br>
        <div align="center"><input type="submit" value="Register">

        <p>Already have an account? <a href="login">Login</a></p></div>
      </form>
    </div>
</div>

<br><br><br><br>


{% endblock %}

{% block extra_script %}
{% endblock %}