{% extends 'base.html' %}
{% load static %}

{% block head_title %}
Easy Shop
{% endblock %}

{% block heading %}Easy Shop{% endblock %}

{% block createstore %}

<style>
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}
</style>


<div class="dropdown">
	<span style="color: black;">Categories</span>
	<div class="dropdown-content">
	{% for category in category_list %}
	<p><a href="/categories/{{category}}">{{category|title}}</a></p>
	{% endfor %}
	</div>
  </div>

{% if has_store is False %}
<li><a href="create-store">Create A Store</a></li>
{% else %}
<li><a href="/store-dashboard">Store Dashboard</a></li>
<li><a href="add-product">Add Product</a></li>
{% endif %}

{% endblock %}

{% block content %}
<div>
	<br>
        <div align="center">
            <br>
            <h1>Your Wishlist</h1>
        </div>
	<br><br>
    {% if products %}
	<div class="product-slider">
		{% for product in products %}
		<div class="slide">
		  <img width="260" height="260" src="/media/{{product.5}}" alt="Product 1" height="200" draggable="false">
		  <h3>{{product.1|title}} &middot; £{{product.8}}</h3>
		  <!-- <p>128GB</p> -->
		  <button><a href="/product/{{product.0}}">View</a></button>
		</div>
		{% endfor %}
	</div>
    {% else %}
    <div align="center">
        <h1>You have no products in your wishlist</h1>
    </div>
    {% endif %}
	  

</div>
{% endblock %}